.pink{
    background-color: lightpink;
}
.blue{
    background-color: lightblue;
}
.text{
    background-color: black;
    color: white;
}
.a,.b{
    display: flex;
    flex-direction: row;
}
.a1,.b1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.a2,.b2{
    width: 200px;
}
.b2{
    display: flex;
    flex-direction: column;
}
.b2-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.c,.d{
    display: flex;
    flex-direction: column;
    border:none;
    box-shadow: 0px 0px 4px rgb(192, 192, 192);
    width: 310px;
    padding:8px 10px;
}
.gmail-title{
    font-family: Roboto;
    color:gray;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 8px;
}
.inboxes{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mail{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: center;

}
.img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: cover;
}
.content{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.from-row{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.from{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2px;
}
.time{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(160 , 160, 160);
}
.title{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: bold;
}
.message{
    font-family: Roboto ,Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(160 , 160, 160);
}
.content-2{
    display: block;
    margin-left:8px;
}
.d-2{
    display: block;
    border:none;
    box-shadow: 0px 0px 4px rgb(192, 192, 192);
    width: 310px;
    padding:8px 8px;
}
.e{
    display: block;
    border:none;
    box-shadow: 0px 0px 4px rgb(192, 192, 192);
    width: 310px;
    padding:8px 8px;
}
.g{
    display: flex;
    flex-direction: row;
    width: 400px;
}
.twitter-img{
    width: 50px;
    height: 50px;
}
.twitter-msg{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.account{
    display: flex;
    display: row;
    margin-bottom: 5px;
}
.twitter-content{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 16px;
}
.video{
    display: flex;
    flex-direction: row; 
    border: 1px solid rgb(192, 192, 192);
    border-radius: 16px;
}
.video-img{
    background-color:rgb(192, 192, 192);
    width: 90px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.video-detail{
    display: flex;
    flex-direction: column; 
    flex:1;
    padding: 16px 12px;

}
.video-url{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 95, 95);
    margin-top: 0;
    margin-bottom: 4px;
}
.video-name{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.msg{
    margin-bottom: 12px;
}
.account-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.account-tag{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 4px;
}

